@page
@using System.Collections
@model testWebRoles.Areas.Identity.Pages.Account.RolesModel
@{
}

@if (Model.IdentityRolesList.Count != 0)
{
    foreach (var identityRole in Model.IdentityRolesList)
    {
        <p>@identityRole.Name</p>
    }
}
else
{
    <p>There are no roles yet</p>
}